body{
	margin: 0;
	padding: 0;
	background:#ECEFF1;

	font-family: sans-serif;
	
}

header{
	width: 100%;
	background: white;
	height: 40px;
	top: 0px;
	padding-top: 10px;
}
header a{
	padding-left: 30px;
	text-decoration: none;
	font-weight: bold;
	color:  rgba(243, 43, 17, 0.918);
}


.signup-box h1{ 
	text-align: center;
    font-size:22px;
    color: #fb2525;
}
.signup label{
    text-align: left;
    color: rgb(3, 94, 94);
	text-align :left; 
	font-weight:bold;
}

.signup{
    background: white;
    margin: 0 auto;
    width: 80%;
    padding:30px;
    top: 0px;
    line-height: 40px;
}
.signup p{
    margin:0;
	
	text-align :left; 
	font-weight:bold;
}
.signup input{
    width:100%;
    height: 26px;
}
.signup input[type ="text"],input[type="password"]{
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #fb2525 ;
   /* border-bottom: 2px solid #fb2525 ;*/
}
.signup .pv{
    width:100%;
    height: 26px;
    line-height: 40px;
    outline: none;
    cursor: pointer;
    border: 1px solid #fb2525 ;
    background: transparent;
    border-radius: 2px;
}


.signup input[type="submit"]{
    border-radius: 4px;
    border: none;
    color:darkgrey;
    background: #f25c21;
}
.signup input[type="submit"]:hover
{
	cursor: pointer;
	background: #0fee52;
	color: white;
	
}
.signup a{
text-decoration: none;
font-size: 12px;
line-height: 20px;
color:darkgrey;
text-align: center;
}
.signup a:hover
{
color: #ffc107;
}
.forgot {
    line-height: 20px;
	text-align: center;
}

/*Leader===============================*/



.loader
{
	border:10px solid #f3f3f3;
	border-radius:50%;
	border-top:10px solid #ffc107;
	width:25px;
	height:25px;
	top: 50%;
	left: 50%;
	animation:spin 1s linear infinite;
	
	position: fixed;
	
	display: none;

}
@keyframes spin
{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}

}
/*
<div id="pgLoader" class = "loader"></div>*/

/*==================Pop UP=============================*/
.errpopUp{
    top: 0px;
    bottom:0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.432);
    margin: auto;
    background-size: cover;
    overflow: hidden;
    display: none;
    justify-items: center;
    align-items: center;
}
.errpopUp .errpopUp-content{
    margin:  auto;
    width: 60%;
    height: 50px;
    background: white;
    position: relative;
    border-radius: 3px;
    padding: 20px;
}
.errpopUp .errpopUp-content [type="text"]{
    border: none;
    border-bottom: 3px solid  rgb(116, 201, 241);;
    margin: auto;
    box-shadow: none;
    color: rgb(252, 0, 50);
    font-weight: bolder;
    padding-left: 3px;
    height: 20px;
    width: 80%;
    
}

.errpopUp .errpopUp-content [type="text"]:focus{
    border: none;
    box-shadow: none;
    border-bottom: 3px solid  rgb(77, 129, 25);
    margin: auto;
   
}


.errpopUp .errpopUp-content  #updateBtn::before{
    position: relative;
    color: rgb(121, 226, 17);
    font-weight: bolder;
    cursor: pointer;
    content: "✔";
    padding-left: 15px;
    padding-right: 10px;
    float: right;
}
/* END Pop UP=============================*/

.callPopUp1{
    padding: 5px;
}
