
/* The message box is shown when the user clicks on the password field */
#checkPwd {
    display:none;
    background: #72e3eb17;
    position: relative;
    border-radius: 5px;
  }
  #verifyEmail{
    display: none;
    font-size: 11px;
    position: relative;
    color: red;
  }
  .signup #verifyName  {
    display: none;
    font-size: 11px;
    position: relative;
    color: red;
  }
  #verifySurname  {
    display: none;
    font-size: 11px;
    position: relative;
    color: red;
  }
  #verifygender{
    display: none;
    font-size: 11px;
    position: relative;
    color: red;
  }
  #verifyProvence{
    display: none;
    font-size: 11px;
    position: relative;
    color: red;
  }
  #verifyContact{
    display: none;
    font-size: 11px;
    position: relative;
    color: red;
  }
  .signup #checkPwd p {
    line-height: 20px;
    padding-left: 35px;
    font-size: 10px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -11px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -11px;
    content: "✖";
  }